/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


.field-required::before {
    content: "* ";
    color: red;
}

.error-text-danger {
    white-space: pre-line;
}
